/* GENERAL */
:root {
  --accent:#4e5bff;
  --danger:#ff3366;
  --muted:#666;
}

body {
  margin:0;
  font-family:Poppins, sans-serif;
  background:#f0f2ff;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.phone {
  width:390px;
  height:844px;
  background:#fff;
  border-radius:25px;
  overflow:hidden;
  box-shadow:0 20px 40px rgba(0,0,0,0.15);
  display:flex;
  flex-direction:column;
}

/* HEADER */
header {
  background:linear-gradient(90deg, var(--accent), #7b45ff);
  color:#fff;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

/* PAGES */
main { flex:1; overflow-y:auto; padding:15px; }
.page { display:none; }
.page.active { display:block; }

/* CARDS */
.card {
  background:#fff;
  padding:15px;
  border-radius:15px;
  margin-bottom:15px;
  box-shadow:0 2px 10px rgba(0,0,0,0.15);
}

.muted { color:var(--muted); }

/* BUTTONS */
.btn {
  background:var(--accent);
  color:#fff;
  border:none;
  padding:12px;
  border-radius:10px;
  width:100%;
  cursor:pointer;
  margin-top:10px;
}

.btn.small { width:auto; padding:8px 12px; }

/* HOME BUTTONS */
.home-grid {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.big-btn {
  background:#eef0ff;
  padding:20px;
  border-radius:15px;
  text-align:center;
  cursor:pointer;
  font-size:18px;
  font-weight:700;
}

.big-btn.danger {
  background:#ffe1e8;
  color:var(--danger);
}

/* BOTTOM NAV */
.bottom-nav {
  display:flex;
  justify-content:space-around;
  padding:10px 0;
  background:#fff;
  border-top:1px solid #ddd;
}

.bn-btn {
  background:none;
  border:none;
  text-align:center;
  color:#999;
}

.bn-btn.active {
  color:var(--accent);
}

/* SOS BUTTON */
.sos-btn {
  width:150px;
  height:150px;
  background:var(--danger);
  border-radius:50%;
  color:#fff;
  border:none;
  font-size:20px;
  margin-top:20px;
}

/* HEALTH */
.health-grid {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

/* TOAST */
.toast {
  position:fixed;
  bottom:30px;
  left:50%;
  transform:translateX(-50%) translateY(40px);
  background:var(--accent);
  color:#fff;
  padding:12px 18px;
  border-radius:10px;
  opacity:0;
  transition:0.3s;
}

.toast.show {
  opacity:1;
  transform:translateX(-50%) translateY(0);
}
